@import '../sass/variables';
@import '../sass/mixins';

.chatting-section__footer {
   height: 10vh;
   background-color: $color-gray-light;
   border-top: 1px solid rgb(180, 174, 174);
   display: flex;
   align-items: center;
   padding: 0 1rem;
   color: $color-primary;

   & .icon {
      @include icon-inset-shadow($color-primary);
      margin-right: 1rem;
   }
}
