@import '../sass/variables';
@import '../sass/mixins';

.chat {
   width: 98%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   padding: 1rem 2rem 1rem 0.5rem;
   border-radius: 1rem;
   margin-bottom: 0.5rem;
   cursor: pointer;
   position: relative;

   &__photo {
      margin-right: 1.4rem;
   }
   &__info {
      display: flex;
      flex-direction: column;
   }
   &__name {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 0.4rem;
   }
   &__lastmessage {
      font-size: 1.35rem;
      letter-spacing: 0.2px;
   }
   &__time {
      position: absolute;
      right: 1rem;
      align-self: flex-start;
      font-size: 1.2rem;
      color: $color-black;
   }
   &:hover {
      // background-color: rgba($color-primary-darkest, 0.8);
      background-color: $color-primary-darkest;
      color: rgba($color-white, 0.6);
   }

   &--has-unread-messages {
      .chat__info {
         .chat__name,
         .chat__lastmessage {
            font-weight: bold;
         }
      }
      & .unread-messages-count {
         width: 2.2rem;
         height: 2.2rem;
         position: absolute;
         right: 1rem;
         transform: translateY(1rem);
         font-size: 1.2rem;
         font-weight: bold;
         @include flex-center;
         border-radius: 50%;
         background: $color-red;
         color: $color-white;
      }
   }
   &:not(:last-child) {
      border-bottom: 1px solid $color-primary-light;
   }
   &--active,
   &--active:hover {
      background-color: $color-primary-lighter;
      // color: rgba($color-white, 0.8);
      color: $color-black;
   }
}
