@import '../sass/variables';
@import '../sass//mixins.scss';

.chatting-section__header {
   padding: 0.5rem 2rem;
   display: flex;
   align-items: center;
   background-color: $color-primary-darkest;
   z-index: 10;

   &__userdetails {
      display: flex;
      align-items: center;
      margin-right: 4rem;
   }
   &__nav {
      flex: 1;
      display: flex;
   }
   &__icon {
      color: $color-primary-lighter;
      margin-right: 2.5rem;
      margin-block: auto; // To force vertical alignment
      font-size: 3rem;
      cursor: pointer;
      transition: all 1s;

      &:last-child {
         margin-left: auto;
      }
      &:hover {
         color: $color-white;
      }
   }
   &__userphoto {
      border-radius: 50%;
      margin-right: 1.4rem;

      &:hover {
         cursor: pointer;
         box-shadow: 0 0 0 2px $color-primary-light;
      }
      & .user-img {
         transition: transform 0.3s;
      }

      &--zoomed-in {
         z-index: 51;
         border-radius: 0 !important;
         pointer-events: none;

         & .user-img {
            transform: scale(7);
            transform-origin: top left;
         }
         &:hover {
            box-shadow: none;
         }
      }
   }
   &__username {
      color: $color-white;
      font-size: 2rem;
      letter-spacing: 0.2px;
      font-family: 'Poppins', 'sans-serif';
   }
}
