@import '../sass/variables';

.textmsg {
   font-size: 1.5rem;
   width: max-content;
   background-color: $color-white;
   border-radius: 1rem;
   margin-bottom: 0.5rem;
   display: flex;
   flex-direction: column;
   position: relative;

   &__content {
      max-width: 40ch;
      font-size: 1em;
      line-height: 1.5em;
      padding: 0.5em 1em;
      padding-bottom: 0;
      font-weight: 400;
   }
   &__time {
      width: max-content;
      align-self: flex-end;
      color: $color-gray-dark;
      font-size: 0.83em;
      margin: 5px 1.5rem 5px 0;
   }
   &__sender-name {
      position: absolute;
      top: -1.5rem;
      left: 0rem;
      font-weight: bold;
      color: $color-gray-darkest;
   }

   &--incoming {
      color: $color-gray-darkest;
      border-top-left-radius: 0.2rem !important;

      & .textmsg__time {
         margin: 3px 1.5rem 3px 1.5rem;
      }
      &.d-theme {
         color: $color-gray-light;
         background: $bg-darker;
      }
   }
   &--outgoing {
      margin-left: auto;
      background: $color-primary-darker !important;
      color: $color-white;
      border-bottom-right-radius: 0.2rem !important;

      & .textmsg__time {
         color: rgba($color-white, 0.7);
         margin-left: 1.5rem;
      }
      &.d-theme {
         color: $color-gray-light;
         background: $color-primary-darkest !important;
      }
   }
   &--not-sent {
      background: $color-primary-lighter;

      & .textmsg__err-msg {
         position: absolute;
         right: 0;
         bottom: -1.5rem;
         color: $color-black;
         color: $color-red;
      }
   }
}
