@import './variables.scss';
@import './mixins.scss';

.textfield {
   outline: none;
   letter-spacing: 0.2px;

   &--message {
      background-color: $color-white;
      border: none;
      border-radius: 1rem;
      font-size: 1.5rem;
      padding: 0.5rem 3rem;
      color: $color-gray-darkest;
   }
}
