$color-primary: #07b2fa;
$color-primary-light: #47c0f3;
$color-primary-lighter: #95defd;
$color-primary-lightest: #cde7f2;
$color-primary-dark: #1fadea;
$color-primary-darker: #14a8e7;
$color-primary-darkest: #0076a7;

$soft-blue: #f1f7f8;

$color-gray-light: #e8e8e8;
$color-gray-lighter: #f2f2f2;
$color-gray-lightest: #f6f6f6;
$color-gray-dark: #948d8d;
$color-gray-darker: #6b6464;
$color-gray-darkest: #312a2a;

$color-white: #fff;
$color-black: #000;

// For dark theme
$bg-dark: #363636;
$bg-darker: #282828;
$bg-darkest: #111111;

$color-red: #ff0000;
$color-green: #32ca32;
$color-green-bright: #21e921;
