@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

.videocall {
   &__chats-and-attendees {
      flex: 0 1 35%;
      height: 100%;
      border-radius: 1.5rem;
      background: $soft-blue;
      padding: 1.5rem 2.5rem;
      position: relative;

      & .heading {
         color: $color-gray-darkest;
         margin-bottom: 2rem;
      }
   }
}
