@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

.videocall {
   &__chats-and-attendees {
      flex: 0 1 30%;
      height: 100%;
      border-radius: 1.5rem;
      background: $soft-blue;

      position: relative;

      & .heading {
         color: $color-gray-dark;
         margin: 2rem 0;
         text-align: center;
      }
   }
}
