@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

.videocall {
   &__chats {
      height: 90%;
      overflow-y: scroll;
      overflow-x: hidden;

      & [class*='scrollable-div'] {
         // padding: 2rem 0;
         padding: 1.2rem 2rem;
         // border: 1px solid black;
      }

      &::-webkit-scrollbar {
         width: 0.7rem;
         display: none;
      }
      &:hover {
         &::-webkit-scrollbar-thumb {
            background: $color-gray-dark;
            border-radius: 99rem;
            display: inline-block;
         }
      }
   }
}
