@import '../../sass/variables';
@import '../../sass/mixins';

.new-msg {
   flex: 1;
   display: flex;
   @include flex-center;
   height: 75%;
   color: $color-primary;

   &__group {
      flex: 1;
      justify-self: center;
      display: flex;
      height: 100%;
      position: relative;
   }
   &__input {
      width: 100%;
      color: $color-gray-darker;
      // border: 1px solid rgb(190, 189, 189);
      transition: width 0.3s;

      & + * {
         position: absolute;
         right: 1rem;

         &.icon {
            align-self: center;
            @include icon-inset-shadow($color-gray-dark);
         }
      }
   }
}
