@import '../../../sass/variables.scss';

.videocall__call {
   &__allparticipants {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
      grid-auto-rows: 15rem;
      gap: 1px;
      overflow-y: scroll;
      border-radius: 1rem;
      position: relative;

      &::-webkit-scrollbar {
         display: none;
      }
   }
}
