.videocall__call {
   &--peer-to-peer .videocall__participant {
      &--peer {
         width: 100%;
         height: 100%;
         background-color: gray;
         position: relative;
      }

      &--user {
         position: absolute; // relative to allparticipants
         bottom: 1rem;
         right: 1rem;
         width: 10rem;
         height: 10rem;
         box-shadow: none !important;
         z-index: 3;

         & video {
            background: gray;
            border-radius: 0.5em;
         }
      }
   }
}
