@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

.navbar {
   &__loggedin-user {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3px 1.5rem;
      border-radius: 5px;

      &:hover {
         cursor: pointer;
         background: $color-gray-lighter;
      }
   }

   &__photo {
      margin-bottom: 1px;
   }

   &__username {
      font-size: 1.7rem;
      color: $color-gray-dark;
   }

   &__myprofile {
      position: relative;

      &__dropdown {
         position: absolute;
         top: 100%;
         right: 0;
         padding: 3rem;
         min-width: 20rem;
         display: flex;
         flex-direction: column;
         align-items: center;
         background: $color-white;
         box-shadow: 0 3px 1rem rgba($color-black, 0.4);
         border-bottom-left-radius: 1rem;
         border-bottom-right-radius: 1rem;
         border: 1px solid $color-gray-light;
         z-index: 20;

         &__picture {
            position: relative;
         }
         &__photo {
            margin-bottom: 5px;
            position: relative;
            margin-bottom: 1.5rem;

            &:hover + .changephoto {
               top: 50%;
               opacity: 1;
            }
         }
         & .changephoto {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 1.2em;
            color: $color-white;
            cursor: pointer;
            text-shadow: 0 2px 2px rgba($color-black, 0.9);
            opacity: 0;
            transition: top 0.3s;

            &:hover {
               top: 50%;
               opacity: 1;
               color: $color-primary-lighter;
            }
         }

         &__user-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3rem;
         }

         &__username {
            font-size: 2.5rem;
            width: max-content;
            margin-bottom: 5px;
         }

         &__friendscount {
            font-size: 1.3rem;
            color: gray;
         }
         &__datejoined {
            font-size: 1.2rem;
            color: $color-gray-dark;
            margin-bottom: 1.5rem;
         }
         & .btn.logout {
            width: 100%;
         }
      }
   }
}
