@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';
@import '../../../sass/animations.scss';

.navbar {
   &__search {
      flex: 0 0 50%;
      display: grid;
      place-items: center;
      position: relative;

      &-input {
         width: 100%;
         height: 100%;
         font: inherit;
         font-size: 1.5rem;
         padding: 1.2rem 2.2rem;
         border-radius: 2rem;
         border: none;
         border: 1px solid rgb(219, 216, 216);
         background: $color-white;
         z-index: 31;

         &:focus {
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
         }

         &--is-showing-suggestions {
            border: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
         }
      }
      &-suggestions {
         position: absolute;
         top: 98%;
         width: 100%;
         background: $color-white;
         border-bottom-left-radius: 2rem;
         border-bottom-right-radius: 2rem;
         border-top: 1px solid rgb(219, 216, 216);
         // padding-top: 0.7rem;
         box-shadow: 0 7px 1.5rem rgba(0, 0, 0, 0.27);
         overflow: hidden;
         // height: 0;
         z-index: 31;
         animation: roll-down-suggestions 0.25s ease-in-out;

         & > *:not(:last-child) {
            border-bottom: 1px solid $color-gray-lighter;
         }
      }
      &-suggestion {
         display: flex;
         align-items: center;
         padding: 1rem 1.5rem;

         &__photo {
            margin-right: 1rem;
         }

         &__user-info {
            display: flex;
            flex-direction: column;
            margin-right: auto;
         }

         &__username {
            font-size: 1.4em;
            font-weight: 600;
         }
         &__email {
            color: gray;
            font-weight: 400;
         }
         &__mutual-friends {
            font-size: 1.2rem;
            color: gray;
         }

         &:hover {
            background: $color-gray-lightest;
         }
      }
   }
}
