@import './sass/variables';
@import './sass/utils';
@import './sass/button.scss';
@import './sass/textfield.scss';

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
}
body {
   min-height: 100vh;
   // max-height: 100vh;
   font-size: 1rem;
   font-family: 'Roboto', sans-serif;
}

#root {
   width: 100%;
   min-height: 100vh;
   max-height: 100vh;

   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: 10vh 90vh;

   font-size: 1rem;
   font-family: 'Roboto', sans-serif;
}

// Typography
.heading {
   font-family: 'Poppins', sans-serif;
   color: $color-gray-darkest;
   &-primary {
      font-size: 3rem;
      font-weight: 400;
   }
   &-secondary {
      font-size: 2rem;
      font-weight: 400;
   }
}

a {
   text-decoration: none;
   color: inherit;
}
